.boarderContainer {
    /* This next section is a hack for safari rendering the images properly */
    width: var(--widest-container-width);
    height: 0.0625rem;
    overflow: hidden;
    position: relative;
    /* Above section is a hack for safari rendering the images properly */
    
    margin-top: var(--margin-5);
    margin-bottom: var(--margin-5);
}

/* // used in some places to make margin different etc.  */
.boarderContainer2 {
    /* This next section is a hack for safari rendering the images properly */
    width: var(--widest-container-width);
    height: 0.0625rem;
    overflow: hidden;
    position: relative;
    /* Above section is a hack for safari rendering the images properly */
    
    margin-top: var(--margin-1);
    margin-bottom: var(--margin-5);
}