@import '/globals.css';

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--widest-container-width);    
}

.heading {
    font-family: MuseoModerno;
    font-size: var(--huge-text);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: var(--Title-Gradient-2);
    /* var(--Title-Gradient-2, linear-gradient(180deg, #CDD4EB 0%, #F7F9FF 51.04%, #B1B7CC 100%)); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-block-end: 0rem;
    margin-block-start: 10rem;
}

.subheading {
    color: var(--subheading-light-text, #A7B1CF);
    font-family: SF Pro Text, sans-serif;
    font-size: var(--subheading-txt, 1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.045rem;
    text-align: center;
    margin-block-end: 4rem;
    margin-block-start: 0rem;
}

.imageWrapper {
    position: relative;
    display: flex;
    width : 100%; /* 100% of .headerContainer */
    height: auto;  /* maintain aspect ratio */
    max-height: 100%; 
    border-radius: var(--boarder-radius);
    overflow: hidden;
}


@media (max-width: 1030px) {
    /* .headerContainer {
        width: 80%;    
    } */
    /* .imageWrapper {
        width: 100%;
    } */
}

@media (max-width: 714px) {
    /* .imageWrapper {
        width: 90%;
    } */
}
